* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.toggle-buttons button {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-buttons button:hover {
  background-color: #0097a7;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form h2 {
  text-align: center;
  color: #333;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.form button {
  padding: 10px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #0097a7;
}
